* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    border-top-color:blueviolet;
    border-top-width: 200px;
    border-top-style: solid;

    border-bottom-color:blueviolet;
    border-bottom-width: 200px;
    border-bottom-style: solid;

    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


img {
    position: absolute;
    box-sizing:border-box;
    display: circle;
    border-radius: 50%;
    width: 250px;
    height: 260px;
    right: 380px; /*moves image left of page */
    top: 50px;
    padding: 0;
}

.name-position {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    right: 350px;
    top: 310px;
}


@keyframes animated-image {
    0% {color: blueviolet;}
    25% {color: #800080}
    50% {color: #8B008B}
    100% {color: #4B0076}
}

div {
   
    height: 50px;
    width: 50px;
    animation-name: animated-image;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    position: relative;
    top: 500px;

}

